.map_box {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    &>div {
        width: 100%;
    }
    #baidu_map {
        flex: 1;
    }

    //  .adm-popup {

    // }
}
    
.popup_box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    &>div {
        width: 100%;
    }
    .nav_top {
        background-color: #eee;
        .adm-nav-bar {
            height: 40px;
        }
        .adm-nav-bar-title {
            font-size: 16px;
            font-weight: 600;
        }
    }
    .list_box {
        flex: 1;
        overflow-y: scroll;
        padding: 0 10px;
    }
}